<header class="container-fluid">
    <div class="row">
        <a href="{{path('index')}}"><img class="col-md-1 col-xs-2" src="{{asset('image/logo.png')}}" title="logo" alt="logo"/></a>
        <a href="{{path('index')}}"><img class="col-md-3 col-md-offset-3" src="{{asset('image/title.png')}}" title="title" alt="title" /></a>

        {% if not app.request.session.get('isConnected')%}
            <div class="well col-md-offset-2 col-md-3">
                {{render(controller('AppBundle:User:login'))}}
            </div>
        {%else%}
            <div class="well col-md-offset-2 col-md-3">
                <span >Bonjour {{ app.request.session.get('login') }} !</span><br>
                <a  href="{{path('logout')}}">Déconnexion</a> |
                <a  href="{{path('modifUser')}}">Modifier vos informations</a>
            </div>
        {%endif%}

    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('index')}}">BOMBER</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{path('index')}}">Accueil <span class="glyphicon glyphicon-home alert-success" aria-hidden="true"></span> <span class="sr-only">(current)</span></a></li>
                    <li><a href="{{path('lobby')}}">Lobby <span class="glyphicon glyphicon-piggy-bank alert-warning" aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>
