{% extends "AppBundle::base.html.twig" %}

{% block title %}Let's Play !!!!{% endblock %}

{% block body %}
    <h2 class="text-center">Let's Play!</h2>
    <div class="row jumbotron">
        <div id="countdown" class="text-center"></div>
        <section class="col-md-8" id="boardContainer">

            {{ render(controller('AppBundle:Game:refresh',{'id_game':id}))}}

        </section>
        <section id="section_hud" class="col-md-4">

            {{ render(controller('AppBundle:Game:hud',{'id_game':id}))}}

        </section>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        $(document).ready(function () {
            $(window).keydown(function (event) {
                event.preventDefault();
                var keypress = event.which;

                switch (keypress) {
                    case 90:
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: "{{ path('play', {'action': 'up', 'id_game': id, 'id_user': app.session.get('id_user')}) }}",
                            success: function (data) {
                                $('#boardContainer').html(data);
                            }
                        });
                        break;
                    case 81:
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: "{{ path('play', {'action': 'left', 'id_game': id, 'id_user': app.session.get('id_user')}) }}",
                            success: function (data) {
                                $('#boardContainer').html(data);
                            }
                        });
                        break;
                    case 83:
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: "{{ path('play', {'action': 'down', 'id_game': id, 'id_user': app.session.get('id_user')}) }}",
                            success: function (data) {
                                $('#boardContainer').html(data);
                            }
                        });
                        break;
                    case 68:
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: "{{ path('play', {'action': 'right', 'id_game': id, 'id_user': app.session.get('id_user')}) }}",
                            success: function (data) {
                                $('#boardContainer').html(data);
                            }
                        });
                        break;
                    case 32:
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: "{{ path('play', {'action': 'bomb', 'id_game': id, 'id_user': app.session.get('id_user')}) }}",
                            success: function (data) {
                                $('#boardContainer').html(data);
                            }
                        });
                        break;
                }
                ;
            });

            function refresh() {
                $.ajax({
                    async: true,
                    type: 'POST',
                    url: '{{ path('refresh', {'id_game': id }) }}',
                    success: function (data) {
                        $('#boardContainer').html(data);
                    }
                });
                $.ajax({
                    async: true,
                    type: 'POST',
                    url: '{{ path('hud', {'id_game': id }) }}',
                    success: function (data) {
                        $('#section_hud').html(data);
                    }
                });
            }

            var myInterval = setInterval(function () {
                refresh();
            }, 3000);


            function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                setInterval(function () {
                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);

                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;

                    display.text(minutes + ":" + seconds);

                    if (--timer < 0) {
                        clearInterval(myInterval);
                        $("#endGame").modal({backdrop: "static"});
                    }
                }, 1000);
            }

            jQuery(function ($) {
                var fiveMinutes = 60,
                        display = $('#countdown');
                startTimer(fiveMinutes, display);
            });
        });

    </script>
{% endblock %}
