{% extends "AppBundle::base.html.twig" %}

{% block title %}Let's Play !!!!{% endblock %}

{% block body %}
    <h2 class="text-center">Let's Play!</h2>
    <div class="row jumbotron">
        <section class="col-md-8" id="boardContainer">

            {{ render(controller('AppBundle:Game:refresh',{'id_game':id}))}}

        </section>
        <section class="col-md-4">

            {{ render(controller('AppBundle:Game:hud',{'id_game':id}))}}

        </section>
    </div>

{% endblock %}
{% block javascripts %}
    <script>

        $(document).ready(function () {
            $(window).keyup(function (event) {
                event.preventDefault();
                var keypress = event.which;
                switch (keypress) {
                    case 90:
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: "{{ path('play', {'action': 'up', 'id_game': id, 'id_user': app.session.get('id_user')}) }}",
                            success: function (data) {
                                $('#boardContainer').html(data);
                            }
                        });
                        break;
                    case 81:
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: "{{ path('play', {'action': 'left', 'id_game': id, 'id_user': app.session.get('id_user')}) }}",
                            success: function (data) {
                                $('#boardContainer').html(data);
                            }
                        });
                        break;
                    case 83:
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: "{{ path('play', {'action': 'down', 'id_game': id, 'id_user': app.session.get('id_user')}) }}",
                            success: function (data) {
                                $('#boardContainer').html(data);
                            }
                        });
                        break;
                    case 68:
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: "{{ path('play', {'action': 'right', 'id_game': id, 'id_user': app.session.get('id_user')}) }}",
                            success: function (data) {
                                $('#boardContainer').html(data);
                            }
                        });
                        break;
                    case 32:
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: "{{ path('play', {'action': 'bomb', 'id_game': id, 'id_user': app.session.get('id_user')}) }}",
                            success: function (data) {
                                $('#boardContainer').html(data);
                                $('#bomb').attr('src', '{{asset('image/bomb2.png')}}').delay(1000).attr('src', '{{asset('image/bomb3.png')}}').delay(1000);
                            }
                        });
                        break;
                }
                ;
            });

            function refresh() {
                $.ajax({
                    async: true,
                    type: 'POST',
                    url: '{{ path('refresh', {'id_game': id }) }}',
                    success: function (data) {
                        $('#boardContainer').html(data);
                    }
                });
            }

            //setInterval(refresh, 3000);
        });

    </script>
{% endblock %}
