
<div class="hud flexbox">
    {% for player in players %}
        <div class="flexbox case_hud">
            <p>{{ player.pseudo }} </p>
            <p>nombre de kill : {{ player.score }} </p>
        </div>

    {% endfor %}

</div>
<a id="finish" href="{{path('close', {'id_game':id})}}" class="btn-terminer btn btn-danger active">Terminer la partie</a>


<div id="endGame" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">C'est la fin !</h4>
            </div>
            <div class="modal-body">
                <p>Et voici les scores</p>
                {% for player in players %}
                    <p>{{ player.pseudo }} : {{ player.score }} </p>
                {% endfor %}
                <img alt="not-bad" title="notBadMemes" src="{{asset('image/Computer-kid.gif')}}">
            </div>
            <div class="modal-footer">
                <button id="quitGame" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% block javascripts %}
    <script>
        $('#quitGame').on('click', function () {
            window.location = '{{ path('index') }}';
        });
    </script>
{% endblock %}
