{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div>
        <h3>Créé votre partie !!!</h3>
    </div>
    <div>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
    </div>
    <div>
        <table>
            <tr>
                <th>Nom de la partie</th>
                <th>Nombre de joueurs</th>
                <th>Description</th>
            </tr>
            {% for game in allGame%}
                <tr>
                    <td>{{game.name}}</td>
                    <td>{{game.nbPlayers}}</td>
                    <td>Salut salut !</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}