{% if status == 0%}
    <div id="waitContainer">
        <p id="attente">Vous êtes en attente pour la partie {{id}}</p>
    </div>
{%endif%}
{% for y, ligne in board.grid%}
    <div class="ligne">
        {% for x, case in ligne %}
            {% set caseSpecificClass = 'field' %}

            {% if case.item and case.item.nom == 'wall' %}
                {% set caseSpecificClass = 'wall' %}
            {% elseif case.item and case.item.nom == 'destruwall' %}
                {% set caseSpecificClass = 'destruwall' %}
            {% endif %}

            <div id="case_{{x}}_{{y}}" class="case {{ caseSpecificClass }} ">

                {% if case.player %}
                    <img class="player" src="{{asset('image/sprites/player' ~ case.player.id ~ '.png')}}"/>
                {% endif %}

                {% if case.bomb %}
                    <img class="bomb" src="{{asset('image/bomb1.png')}}"/>
                {% endif%}
            </div>
        {% endfor%}
    </div>
{% endfor %}

<script>
    {% for explosion in board.getAExplosions %}
        $('<img />', {'class': 'boom', 'src': '{{asset('image/bomb4.png')}}'}).appendTo('#case_{{ explosion.origin.x }}_{{ explosion.origin.y }}');

    {% endfor %}
</script>
